/*putting space between top heading and link*/
.heading{
	background-color: rgba(0,0,0,0.3);
}

/* background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 100%;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('img/background_imgs/inside_tower.jpg');
	z-index: -6;
	opacity: 0;
}

.second-image {
	background-image: url('img/background_imgs/parents_hometown.jpg');
	z-index: -5;
	opacity: 0;
}

.third-image {
	background-image: url('img/background_imgs/field_of_flowers.jpg');
	z-index: -4;
	opacity: 0;
}
.fourth-image {
	background-image: url('img/background_imgs/red_lanterns.jpg');
	z-index: -3;
	opacity: 0;
}
.fifth-image {
	background-image: url('img/background_imgs/victorias_bridge.jpg');
	z-index: -2;
	opacity: 0;
}
.sixth-image {
	background-image: url('img/background_imgs/taipei_101.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 0.8;
}

.second-image.show {
	opacity: 0.8;
}

.third-image.show {
	opacity: 0.8;
}
.fourth-image.show {
	opacity: 0.8;
}

.fifth-image.show {
	opacity: 0.8;
}

.sixth-image.show {
	opacity: 0.8;
}


/*style for photo under About*/
#selfPhoto {
  width: 250px;
  height: 200px;
}


/*styling for about subsections*/
.about-txt-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 80%;
}
.aboutTxt {
	width: 40%;
}
.experience {
 width: 40%;
 height: 100%;
 vertical-align: center;
}
#expTxt {
	text-align: left;
	height: 100%;
	vertical-align: center;
}

pre {
	width: 450px;
}
