/*
header {

}
body {
  display: block;
  text-align: center;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Playfair Display', serif;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
h2 {
  font-size: 14px;
}
footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactList>img {
  max-height: 50px;
  max-width: 50px;
  width: auto;
  height: auto;
}
#selfPhoto {
  width: 250px;
  height: 200px;
}*/
